name: Build Windows Exe

on: [push]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
        
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        
    - name: Build with PyInstaller
      run: |
        pyinstaller -n "Getgeotag" -w --onedir --noupx --add-data "exiftool.exe;." getgeotag.py
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Getgeotag-Windows
        path: dist/Getgeotag
