name: Build Windows Exe

on: [push]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
        
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        
    - name: Download ExifTool
      # 从 GitHub Release 下载稳定版本并整理文件结构
      run: |
        Invoke-WebRequest -Uri "https://github.com/OliverBetz/exiftool-windows/releases/download/12.87/exiftool-12.87_64.zip" -OutFile "exiftool.zip"
        Expand-Archive -Path "exiftool.zip" -DestinationPath "exiftool_temp"
        Move-Item -Path "exiftool_temp\exiftool(-k).exe" -Destination ".\exiftool.exe"
        Move-Item -Path "exiftool_temp\exiftool_files" -Destination ".\exiftool_files"
        
    - name: Build with PyInstaller
      # 打包主程序，同时包含 ExifTool 可执行文件及其依赖目录
      run: |
        pyinstaller -n "Getgeotag" -w --onedir --noupx --add-data "exiftool.exe;." --add-data "exiftool_files;exiftool_files" getgeotag.py
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Getgeotag-Windows
        path: dist/Getgeotag/
